base_domain = "gitmono.com"
region      = "ap-southeast-2"
db_username = "gitmega"
db_password = "db_password"
db_schema   = "gitmono"

s3_key        = "s3_key"
s3_secret_key = "s3_secret"
s3_bucket     = "gitmono"

rails_master_key            = "ask admin for rails key"
rails_env                   = "staging-gitmono"
ui_env                      = "gitmono"
app_suffix                  = "gitmono-com"
redis_endpoint              = "redisendpoint.amazonaws.com:6379"
vpc_id                      = "vpc-012345"
vpc_cidr                    = "172.31.0.0/16"
public_subnet_ids           = ["subnet-123", "subnet-123", "subnet-123"]
existing_alb_arn            = "arn:aws:elasticloadbalancing:ap-southeast-2:123:loadbalancer/app/gitmono/123"
existing_https_listener_arn = "arn:aws:elasticloadbalancing:ap-southeast-2:123:listener/app/gitmono/123/456"
